<!DOCTYPE html>
<html>
  <head>
    <title>A way to declutter | About</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the about page for the
      <a href="http://runawaycubicle.com/">Runaway cubicle</a>
      new web application.
    </p>
  </body>
</html>

